//===[ Custom Globals ]=======================================================//

@import "elemental";

$color-text-light: #a5a5a5;
$color-text-medium: #777777;
$color-text-dark: #232323;

//===[ Moving on... ]=========================================================//

body{}