//------------------------------------------------------------------------------
// Content sizing
//------------------------------------------------------------------------------
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}


//------------------------------------------------------------------------------
// Clearfix - http://css-tricks.com/snippets/css/clear-fix
//------------------------------------------------------------------------------
.clearfix::after,
%clearfix::after {
  clear: both;
  content: '';
  display: table;
}
